# envs for discord widget and webhook
WIDGET = """
WEBHOOK = ""

# envs for discord bot
DISCORD_BOT_TOKEN = ""
DISCORD_OUTPUT_CHANNEL_ID = ""
DISCORD_PTH_CHANNEL_ID = ""
DISCORD_GUILD_ID = ""

# envs for gist
GIST_TOKEN = ""
GIST_ID = ""